<h1>
this is the books page
</h1>

{{#each books}}
<h2>{{this.title}}</h2>
<h3>{{this.author}}</h3>
<img src="{{this.image}}" alt="" style="width: 100px">
<a href="/books/{{this._id}}">See Details</a>
<a href="/books/{{this._id}}/edit">Edit This Book</a>
{{/each}}